#old_browser_popup {
    position: fixed;
    top: 0;
    z-index: 1000000;
    width: 100%;
    background: #f6ce90;
    text-align: center;
}
#old_browser_container {
    width: 550px;
    margin: 0 auto;
}
#old_browser_popup img {
    float: left;
    margin-top: 12px;
}
#old_browser_popup p {
    padding: 15px;
    color: #6c4200;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
}
#old_browser_popup a {
    padding: 0 5px;
    color: #a86e12;
}
#old_browser_popup a:hover {
    color: #97320b;
}
#old_browser_close {
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
}